<html lang="en">
{{>header}}

<body>
  {{>link}}

  <div class="page-header" style="background: url(assets/img/banner1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-wrapper">
            <h2 class="product-title">Post you Ads</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home /</a></li>
              <li class="current">Post you Ads</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="/post-ads" method="post" enctype="multipart/form-data">
    <div id="content" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="row page-content">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="inner-box">
                  <div class="dashboard-box">
                    <h2 class="dashbord-title">Ad Detail</h2>
                  </div>
                  <label class="tg-fileuploadlabel" for="tg-photogallery">
                    <span>Drop files anywhere to upload</span>
                    <span>Or</span>
                    <span class="btn btn-common">Select Files</span>
                    <span>Maximum upload file size: 500 KB</span>
                    <input id="tg-photogallery" class="tg-fileinput" type="file" name="images"
                      accept="image/jpeg, image/jpg, image/png, image/webp," multiple />
                  </label>
                  <div class="dashboard-wrapper">
                    <div class="form-group mb-3">
                      <label class="control-label">Project Title</label>
                      <input class="form-control input-md" name="title" placeholder="Title" type="text" />
                    </div>
                    <div class="form-group mb-3 tg-inputwithicon">
                      <label class="control-label">Categories</label>
                      <div class="tg-select form-control">
                        <select name="category">
                          <option value="none">Select Categories</option>
                          <option value="Mobiles">Mobiles</option>
                          <option value="Electronics">Electronics</option>
                          <option value="Training">Training</option>
                          <option value="RealEstate">Real Estate</option>
                          <option value="Services">Services</option>
                          <option value="Training">Training</option>
                          <option value="Vehicles">Vehicles</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label class="control-label">Price Title</label>
                      <input class="form-control input-md" name="price" placeholder="Ad your Price" type="text" />
                      <div class="tg-checkbox mt-3">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="tg-priceoncall" />
                          <label class="custom-control-label" for="tg-priceoncall">Price On Call</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group md-3">
                      <textarea class="form-control" name="message" id="" cols="30" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="inner-box">
                  <div class="tg-contactdetail">
                    <div class="dashboard-box">
                      <h2 class="dashbord-title">Contact Detail</h2>
                    </div>
                    <div class="dashboard-wrapper">
                      <div class="form-group mb-3">
                        <strong>I’m a:</strong>
                        <div class="tg-selectgroup">
                          <span class="tg-radio">
                            <input id="tg-sameuser" type="radio" name="usertype" value="same user" checked="" />
                            <label for="tg-sameuser">Same User</label>
                          </span>
                          <span class="tg-radio">
                            <input id="tg-someoneelse" type="radio" name="usertype" value="someone else" />
                            <label for="tg-someoneelse">Someone Else</label>
                          </span>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label class="control-label">Full Name*</label>
                        <input class="form-control input-md" name="firstName" type="text" />
                      </div>
                      {{!-- --}}
                      <div class="form-group mb-3">
                        <label class="control-label">Condition</label>
                        <input class="form-control input-md" name="condition" type="text" />
                      </div>

                      <div class="form-group mb-3">
                        <label class="control-label">Brand</label>
                        <input class="form-control input-md" name="brand" type="text" />
                      </div>

                      {{!-- --}}

                      <div class="form-group mb-3">
                        <label class="control-label">Enter Address</label>
                        <input class="form-control input-md" name="address" type="text" />
                      </div>
                      <div class="form-group mb-3">
                        <label class="control-label">Country</label>
                        <input class="form-control input-md" name="country" type="text" />
                      </div>
                      <div class="tg-checkbox">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="tg-agreetermsandrules" />
                          <label class="custom-control-label" for="tg-agreetermsandrules">I agree to all
                            <a href="javascript:void(0);">Terms of Use &amp;
                              Posting Rules</a></label>
                        </div>
                      </div>
                      <button class="btn btn-common" type="submit">
                        Post Ad
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
  {{>footer}}

  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>

  {{>script}}
  <script>
    $("#summernote").summernote({
      height: 250, // set editor height minHeight:
      null, // set minimum height of editor maxHeight: null, // set maximum
      height of editor focus: false, // set focus to editable area after
      initializing summernote
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let successMessage = "{{success}}"
    let errorMessage = "{{error}}"
    if (successMessage) {
      Swal.fire({
        icon: "success", title: "Success", text:
          successMessage,
      });
    }
    if (errorMessage) {
      Swal.fire({
        icon: "error",
        title: "Oops...", text: errorMessage,
      });
    }
  </script>
</body>

</html>